doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous")
    title Document
  body
    .container.col-sm-4.col-md-7.col-lg-4.mt-5
      .card
        h3#monthAndYear.card-header
        table#calendar.table.table-bordered
          thead
          tr
            th Sun
            th Mon
            th Tue
            th Wed
            th Thu
            th Fri
            th Sat
          tbody#calendar-body

        .form-inline
          button(id="previous" class="btn btn-outline-primary col-sm-6" onclick="previous()") Previous
          button(id="next" class="btn btn-outline-primary col-sm-6" onclick="next()") Next
        .form-inline
          label(for="month" class="lead mr-2 ml-2") Jump To:
          select(id="month" class="form-control col-sm-4" name="month" onchange="jump()")
            option(value="0") Jan
            option(value="1") Feb
            option(value="2") Mar
            option(value="3") Apr
            option(value="4") May
            option(value="5") Jun
            option(value="6") Jul
            option(value="7") Aug
            option(value="8") Sep
            option(value="9") Oct
            option(value="10") Nov
            option(value="11") Dec
          
          label(for="year")
          select(id="year" class="form-control col-sm-4" name="year" onchange="jump()")
            option(value=2020) 2020
            option(value=2021) 2021
            option(value=2022) 2022
            option(value=2023) 2023
            option(value=2024) 2024

          script(async defer src="/scripts/calendar.js")
          script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous")
          script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
          integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
          crossorigin="anonymous")
          script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
          integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
          crossorigin="anonymous")